

@mixin fudong{
    float: left;
    font-size: 13px;
    list-style: none;
    padding:0px 10px;
    line-height: 30px;
    &:hover{
        color: #7f8dd3;
    }
}
@mixin con{
    margin-left: 54px;
    width: 1173px;
}
@mixin both{
         border: none;
         background-color: white;
         width: 112px;
         height: 28px;
         font-size: 12px;
         line-height: 28px;
         text-align: center;
         position: absolute;
         left: 100px;
         top: 55px;
         border-radius: 5px;
     } 


*,ul,li{
    margin: 0;
    padding: 0;
}

#warp{
    width: 100%;
    background-color: #F5F5F5;
}
#xiangxi{
    position: relative;
    @include con;
    background-color: #F5F5F5;
    height: 30px;
    margin: 0 auto;

#one{
    position: absolute;
    left: 32px;
    li{
        @include fudong;
    }
}
#way{
    position: relative;
    &:hover #lan{
        display: block;
    }
}
#two{ 
    position: absolute;
    left: 700px;
    li{
        @include fudong;
    }
}

 .se{
       color: #ff664c;
   }
#lan{
    display: none;
    position: absolute;
    top: 30px;
    left: -5px;
    width: 350px;
    z-index: 2;
    background-color: white;
    border: 1px solid darkgray;
    height: 190px;
    .hua{
        color: dimgray;
        display: block;
        float: left;
        width: 400px;
          span{
                float: left;
            }
            ul{
                float: left;
                color: dimgray;
                li{
                    &:hover{
                        background-color: #fb6003;
                        color: white;
                    }
                    float: left;
                }
            }
    }
}
#mye{
    &:hover ul{
        display: block;
    }
    position: relative;
    ul{
        display: none;
        position: absolute;
        background-color: white;
        width: 80px;
        left: -20px;
        z-index: 2;
        padding-top: 5px;
        padding-left: 25px;
        height: 114px;
        border: 1px solid darkgray;
        box-shadow: 3px 3px 3px darkgray;
        li{
            color: black;
            list-style:disc;
            padding-left: 0px;
            font-size: 12px;
            line-height: 20px;
        }
    }
    
}
#shoucang{
        position: relative;
        &:hover ul{
            display: block;
        }
        ul{
            width: 80px;
            left: -20px;
            box-shadow: 3px 3px 3px darkgray;
            position: absolute;
            background-color: white;
            padding-left: 25px;
            z-index: 2;
            display: none;
            li{
                list-style:disc;
                padding-left: 0px;
                font-size: 12px;
                color: black;
                &hover{
                    color: #7F8DD3;
                }
            }
        }
}
#ma{
    position: relative;
    &:hover img{
        display: block;
    }
    img{
        position: absolute;
        left: -2px;
        width: 60px;
        display: none;
    }
}
}

//导航条
    nav{
       @include con;
        height: 80px;
        background: url(../img/banner.jpg) no-repeat left top;
         margin: 0 auto;
    }
// 浮动
#fudong{
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 671px;
    background-color: #444444;
    #k{
        width: 35px;
        height: 25px;
        margin-top: 67px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -210px;
        position: relative;
//      div{
//          width: 324px;
//          height: 126px;
//          background-color: red;
//          text-align: center;
//          line-height: 126px;
//          left: -330px;
//          position: absolute;
//          z-index: 7000000;
//      }
    }
    
    #g{
        height: 121px;
        width: 25px;
        margin-top: 40px;
        #l{
            width: 35px;
            height: 25px;
            margin-left: 6px;
            background: url(../img/13.png)no-repeat -5px -278px;
            cursor: pointer;
         }
         span{
             display: block;
             font-size: 15px;
             width: 16px;
             margin-left: 9px;
             color:#a6a6a6;
         }
         #y{
             width: 25px;
            height: 25px;
            margin-left: 6px;
            border-radius: 50%;
            background-color: #A6A6A6;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
         }
    }
    #p{
        height: 121px;
        width: 25px;
        margin-top: 30px;
        #zai{
            width: 35px;
            height: 25px;
            margin-left: 6px;
            background: url(../img/13.png)no-repeat -5px -621px;
            cursor: pointer;
        }
        span{
             display: block;
             font-size: 15px;
             width: 16px;
             margin-left: 9px;
             color:#a6a6a6;
         }
    }
    #b{
        margin-top: 10px;
        width: 35px;
        height: 25px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -311px;
        cursor: pointer;
    }
     #d{
        margin-top: 10px;
        width: 35px;
        height: 25px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -699px;
        cursor: pointer;
    }
     #e{
        margin-top: 50px;
        width: 35px;
        height: 25px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -416px;
        cursor: pointer;
    }
     #w{
        margin-top: 10px;
        width: 35px;
        height: 25px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -731px;
        cursor: pointer;
    }
     #q{
        margin-top: 10px;
        width: 35px;
        height: 25px;
        margin-left: 6px;
        background: url(../img/13.png)no-repeat -5px -761px;
        cursor: pointer;
    }
    #wx{
        display: block;
        width: 100px;
        margin-left: 50px;
        margin-top: -100px;
        height: 100px;
        background: url(../img/7.jpg)no-repeat;
    }
}
//带有搜索的lanch包括logo
#lanch{
    @include con;
    height: 125px;
    overflow: hidden;
    position: relative;
        margin: 0 auto;
    #logo{
       position: absolute;
       top: 5px;
       left: 20px;
        width:177px;
        height: 92px;
        background: url(../img/logo.png) no-repeat center top;
    }
    #search{
        width: 485px;
        height: 80px;
        left: 300px;
        top: 35px;
        position: absolute;
        #sousuokuang{
            float: left;
            width: 400px;
            height: 30px;
            border: 2px solid #e74085;
        }
        #sousuo{
            float: left;
            width: 77px;
            height: 34px;
            background-color: #e74085;
            border:none;
        }
        div{
            height: 60px;
            span{
                color: #808080;
                font-size: 14px;
            }
        }
    }
    img{
        display: block;
        width: 153px;
        height: 28px;
        position: absolute;
        left: 830px;
        top: 40px;
    }
    #gologo{
        width: 130px;
        height: 39px;
        position: absolute;
        left: 1044px;
        top: 40px;
        background: url(../img/yao.gif) no-repeat top center;
        a{
            font-size: 12px;
            text-decoration: none;
            float: right;
            color: gray;
            margin-right: 10px;
            line-height: 39px;
        }
    }
    
    
}
//带有轮播图的头部
#header{
      width: 1227px;
      height: 395px;
      margin-left: 0px;
      position: relative;
      
      #bu{
          width:54px;
          height:34px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: white;
      }
      #xiahua{
          position: absolute;
          left: 54px;
          width: 228px;
          z-index: 2;
          background-color: white;
          #xiahua-shang{
              width: 228px;
              height: 34px;
              margin-bottom: 2px;
              background-color: palevioletred;
              #xiahua-shang-left{
                  width: 114px;
                  float: left;
                  height: 34px;
                  text-align: center;
                  line-height: 34px;
                  font-size: 16px;
                  color: darkgray;
                  &:hover{
                      cursor: pointer;
                  }
              }
              #xiahua-shang-right{
                  width:113px;
                  float: left;
                  font-size: 16px;
                  border-left: 1px solid darkgray;
                  height: 34px;
                  text-align: center;
                  line-height: 34px;
                  color: darkgray;
                  &:hover{
                      cursor: pointer;
                  }
              }
          }

          #xiahua-xia{
               #xia-left{
                display: none;
                width: 228px;
                height: 359px;
                background-color: oldlace;
                #xiahua-xia-left-top{
                    width: 228px;
                    height: 120px;
                    position: relative;
                    background-color: #F5F5F5;
                    border-bottom: 1px dashed gray;
                    img{
                        float: left;
                        margin: 23px;
                    }
                    .one{
                       
                        @include both;
                        border: 1px solid #459D36;
                       
                    }
                    div{
                        padding: 3px;
                        width: 28px;
                        height: 105px;
                        position: absolute;
                        z-index: -1;
                        border: 1px solid gainsboro;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #c5f4be;
                        font-size: 15px;
                    }
                }
                 #xiahua-xia-left-center{
                    width: 228px;
                    height: 120px;
                    position: relative;
                    background-color: #F5F5F5;
                     border-bottom: 1px dashed gray;
                     img{
                        float: left;
                        margin: 23px;
                    }
                    .two{
                        
                        @include both;
                        border: 1px solid #DCDCDC;
                    }
                     div{
                        padding: 3px;
                        width: 28px;
                        height: 105px;
                        position: absolute;
                        z-index: -1;
                        border: 1px solid gainsboro;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #eddefb;
                        font-size: 15px;
                    }
                }
                 #xiahua-xia-left-bottom{
                    width: 228px;
                    height: 120px;
                    position: relative;
                    background-color: #F5F5F5;
                     img{
                        float: left;
                        margin: 23px;
                    }
                    .three{
                        
                       @include both;
                       border: 1px solid #059ee0;
                    }
                     div{
                        padding: 3px;
                        width: 28px;
                        height: 105px;
                        position: absolute;
                        z-index: -1;
                        border: 1px solid gainsboro;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #cee4fb;
                        font-size: 15px;
                    }
                }
              }
              #xia-right{
                display: block;
                width: 228px;
                height: 359px;
                background-color: #FCFCFC;
                ul{
                    list-style: none;
                    padding-left:10px ;
                    .lii{
                        width: 213px;
                        height: 50px;
                        border-bottom: 1px dashed gray;
                        position: relative;
                        &:hover{
                            z-index: 2;
                            background-color: white;
                            border-bottom:1px solid  rgb(0,128,0);
                            border-right: 4px solid white;
                        }
                        &:hover .bao{
                            display: block;
                            border:1px solid  rgb(0,128,0);
                        }
                        .bone{
                            font-size: 15px;
                            line-height: 50px;
                            float: left;
                        }
                        .btwo{
                            font-size: 12px;
                            float: left;
                            line-height: 50px;
                            margin-left: 10px;
                        }
                        .bthree{
                            float: left;
                            font-size: 15px;
                            margin-left: 36px;
                            line-height: 50px;
                            
                        }
                        .bfour{
                            font-size: 12px;
                            float: left;
                            line-height: 50px;
                            margin-left: 10px;
                        }
                        .bao{
                            display: none;
                            position: absolute;
                            left: 217px;
                            top: 0px;
                            width: 570px;
                            background-color: white;
                            span {
                                display: inline-block;
                            }
                            .bfive{
                                li{
                                    height: 60px;
                                    padding-left: 10px;
                                    border-bottom: 1px dashed gray;
                                }
                                .lione{
                                    height:70px;
                                }
                                .lione img{
                                    float: left;
                                    margin: 10px;
                                }
                                .lione span{
                                    line-height: 70px;
                                    font-size: 17px;
                                }
                                .litwo{
                                    height: 60px;
                                    .lispan{
                                        font-size: 13px;
                                        color: rgb(0,128,0);
                                        float: left;
                                       border: none;
                                       margin-left: 60px;
                                    }
                                    .liimg{
                                        width: 30px;
                                        height: 30px;
                                        margin: 10px;
                                        float: left;
                                    }
                                    span{
                                        height: 18px;
                                        font-size: 13px;
                                        float: left;
                                        margin-top: 20px;
                                        padding: 0 10px;
                                        border-left: 1px solid gray;
                                    }
                                }
                            }
                        }
                        
                    }
                }
              }
          }
             
      } 


.box {
    width:771px;
    height:360px;
    position:relative;
    left: 261px;
    top: 35px;
}
.ul_img {
    position:absolute;
}
.ul_img li {
    width:771px;
    height:360px;
    list-style: none;
}
.ul_img li img {
    width:100%;
    height:100%;
}
.ul_img li img:hover{
    cursor: pointer;
}
.ul_text {
    position:absolute;
    right:400px;
    bottom:20px;
}
.ul_text li {
    float:left;
    width:20px;
    height:20px;
    border-radius:20px;
    background:darkgrey;
    text-align:center;
    line-height:20px;
    font-size:14px;
    margin-left:5px;
    cursor:pointer;
    list-style: none;
}
.ul_text li.hover {
    background:gray;
    color:white;
}
#nav{
    width:966px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 261px;
    div{
        width: 117px;
        height: 37px;
        background: url(../img/23.png) no-repeat top center;
        float: left;
        margin-left: 30px;
        
    }
    ul{
        position: absolute;
        left: 170px;
        z-index: 10;
        list-style: none;
        li{
            float: left;
            height: 37px;
            padding:0px 30px;
            position: relative;
            cursor: pointer;
            line-height: 37px;
            img{
                position: absolute;
                left: 5px;
                top: 8px;
            }
        }
    }
}
      
      #youbian{
          width: 198px;
          height: 360px;
          position: absolute;
          right: 0px;
          top: 35px;
          background-color: white; 
          overflow: hidden;
          cursor: pointer;
          #youbian-bottom{
              width: 198px;
              height: 120px;
              float: left;
              img{
                  width: 100%;
                  height: 100%;
              } 
          }
            #youbian-center{
              width: 198px;
              height: 120px;
              float: left;
              img{
                  width: 100%;
                  height: 100%;
              } 
          }
            #youbian-top{
              width: 198px;
              height: 120px;
              float: left;
              img{
                  width: 100%;
                  height: 100%;
              } 
          }
      }
           
   }
//每日疯抢
#content{
   margin-top: 30px;
   @include con;
   height: 460px;
   position: relative;
   border: 1px solid grey;
   #content-left{
       position: absolute;
       left: 0;
       width: 328px;
       height: 462px;
       background: url(../img/everydayBgNew.png) no-repeat ;
       
   }
   #content-right{
       position: absolute;
       left: 329px;
       #content-right-top{
           width: 844px;
           height: 67px;
           border-bottom: 1px dashed dimgray;
           display: flex;
           justify-content: space-around;
           span{
               line-height: 67px;
               font-size: 15px;
               &:hover{
                   font-size: 20px;
                   border-bottom: 1px solid #ed4044;
               }
           }
       }
       #content-right-bottom{
           .lei{
               float: left;
               width: 200px;
               height: 393px;
               img{
                   width: 180px;
                   margin: 10px;
                   float: left;
               }
               p{
                   text-indent: 15px;
                   font-size: 18px;
                   margin: 10px;
               }
               .wo{
                   float: left;
                   font-size: 14px;
                   color: red;
                   margin: 10px;
               }
               .ai{
                   float: right;
                   font-size: 14px;
                   color: #A9A9A9;
                   margin: 10px;
               }
               .pi{
                   float: left;
                   display: block;
                   background-color:#4ace83;
                   color: white;
                   border: none;
                   width: 122px;
                   height: 31px;
                   border-radius: 20px;
                   margin: 30px;
                   &:hover {
                            background-color: #FB6003;
                            cursor: pointer;
                        }
               }
           }
       }
   }
}

//重复的content
.gong{
    @include con;
    height: 579px;
    margin-top: 50px;
    border-top: 1px solid gray;
}
#content1{
    #content1-left{
        float: left;
        width: 328px;
        height: 509px;
        margin: 0;
        background: url(../img/24.jpg) ;
        position: relative;
          .touu{
                 position: absolute; 
                 right: -844px;
                 top: -30px;
                 height: 30px;
                 border-top: 1px solid grey;
                 border-left: 1px solid gray;
                 div{
                     font-size: 14px;
                     border-right: 1px solid gray;
                     height: 18px;
                   margin: 5px;
                   padding: 0 8px;
                     float: left;
                 }  
            }
    }
    #content1-right{
        height: 511px;
        position: relative;
        &:hover{
                 cursor: pointer;
                    }
         .cont1{
             float: left;
             width: 391px;
             height: 301px;
             position: relative;
             border-right: 1px solid grey;
             
             img{
                 position: absolute;
                 float: right;
                 top: 90px;
                 right: 10px;
             }
             p{
                 width: 200px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
         }   
        .cont2{
            width: 450px;
            height: 150px;
            float: left;
            position: relative;
            border-bottom: 1px solid grey;
            img{
                height: 150px;
                 position: absolute;
                 float: right;
                 top: 0;
             }
             p{
                 width: 150px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
        }
        .cont3{
            width: 450px;
            height: 150px;
            float: left;
            position: relative;
            img{
                height: 150px;
                 position: absolute;
                 float: right;
                 top: 0;
             }
             p{
                 width: 150px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
        }
        .cont4{
            width: 280px;
            height: 210px;
            float: left;
            position: relative;
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-bottom: 1px solid grey;
            img{
                height: 100px;
                 position: absolute;
                 float: right;
                 bottom: 15px;
                 right: 30px;
             }
             p{
                 width: 150px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
        }
        .cont5{
            width: 280px;
            height: 210px;
            float: left;
            position: relative;
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-bottom: 1px solid grey;
            img{
                height: 100px;
                 position: absolute;
                 float: right;
                bottom: 15px;
                 right: 30px;
             }
             p{
                 width: 150px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
        }
        .cont6{
            width: 280px;
            height: 210px;
            float: left;
            position: relative;
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-bottom: 1px solid grey;
            img{
                height: 100px;
                 position: absolute;
                 float: right;
                 bottom: 15px;
                 right: 30px;
             }
             p{
                 width: 150px;
                 height: 20px;
                 line-height: 20px;
                 font-size: 19px;
                 float: left;
                 margin-left: 30px;
                 margin-top: 20px;
                 
             }
             span{
                 float: left;
                 margin-top: 5px;
                 margin-left: 30px;
                 clear: both;
                 color: #FB6003;
             }
        }
          
            .kk{
                height: 250px;
                width: 210px;
                float: left;
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 135px;
                    margin-left: 40px;
                    margin-top: 30px;
                    
                }
                p{
                    font-size: 13px;
                    width: 200px;
                    color: #808080;
                    margin:10px 0px 10px 10px;
                }
                span{
                    margin-left: 10px;
                    font-size: 20px;
                    color: red;  
                }
            }
    
    
    }
    #content1-bottom{
        width:1173px;
        margin: 0;
        img{
            height: 69.9px;
            float: left;
            border-left: 1px solid gray;
            border-bottom: 1px solid gray;
        }
    }
       
}
//会动的萌萌图
#touch{
    margin-top: 30px;
    width: 1227px;
    height: 102px;
    border: 1px solid darkgray;
    margin-left: 0px;
    background-color: #F5F5F5;
    ul{
        display: flex;
        list-style: none;
        li{
            margin-top: 18px;
            margin-left: 23px;
            width: 180px;
            height: 65px;
            img{
                float: left;
                height: 65px;
            }
            span{
                float: left;
                font-size: 20px;
                line-height: 65px;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
//联系管理等
#about{
    width: 1227px;
    margin-left: 0px;
    height: 184px;
    border: 1px solid darkgray;
    background-color: #F5F5F5;

    #phone{
        float: left;
        width: 351px;
        height: 149px;
        margin-left: 20px;
        margin-top: 30px;
        img{
            float: left;
        }
        p{
            float: left;
            margin-left:10px;
        }
        .me{
            float: left;
            margin-left: 20px;
            margin-top: 10px;
            margin-right: 100px;
        }
        .oo{
            float: left;
            margin-left: 16px;
            margin-top: 13px;
        }
     
        .uu{
            margin-top: 13px;
            margin-left: 120px;
            font-size: 12px;
        }
        .pp{
             margin-top: 13px;
            margin-left: 18px;
            font-size: 16px;
            float: left;
        }
   } 
   .ul1{
       float: left;
       margin-top: 30px;
       margin-left: 40px;
       .mi{
           margin-bottom: 10px;
       }
       li{
           list-style: none;
           padding: 2px;
           font-size: 13px;
           color: black;
           
       }
   }
   .bn{
       margin-left: 80px;
   } 
   .erweima{
       margin-top: 30px;
       margin-left: 70px;
       float: left;
       p{
           font-size: 12px;
           margin-left: 8px;
       }
       .yii{
           margin-bottom: 10px;
       }
       .err{
           margin-left: 14px;
           margin-bottom: 10px;
       }
   }  
}
//footer底部
footer{
    width: 1227px;
    margin-left: 0px;
    height: 168px;
    background-color: palevioletred;
    overflow: hidden;
        .qw{
        display: block;
        margin-top: 30px;
        li{
            font-size: 13px;
            color: #696969;
            float: left;
            margin-left: 20px;
            list-style: none;
        }
    }
    .lp{
        float: left;
        height: 40px;
        display: block;
        display: block;
        margin-top: 30px;
         li{
            font-size: 13px;
            color: #696969;
            float: left;
            margin-left: 20px;
            list-style: none;
        }
    }
    p{
        float: left;
        font-size: 13px;
        margin: 10px 0 0 150px;
    }
}

//此为列表页
.liebiaoheader{
    min-height: 1700px;
    background-color: #F5F5F5;
    margin-bottom: -30px;
}
.liebiao{
    display: none;
    border: 1px solid #53AA5B;
}

#lv{
    height: 34px;
    border-bottom: 4px solid #357e34;
}
.nana{
    margin-top: 10px;
    margin-right: 0;
}
#conleft{
    float: left;
    width: 202px;
    height: 107px;
    margin-top: 15px;
    margin-left: 54px;
    p{
        width: 202px;
    }
    #p1{
        width: 182px;
        padding: 10px 10px 0px 10px ;
        height: 20px;
        background-color: white;
        font-size: 12px;
        border: 1px solid #DCDCDC;
        border-bottom: 2px solid #357E34;
        a{
            float: right;
            text-decoration: none;
            color: gray;
            &:hover{
                color: #059EE0;
            }
        }
    }
    #p2{
        width: 182px;
        padding: 5px 10px 0px 10px ;
        font-size: 12px;
        height: 22px;
        background-color: #F5F5F5;
        border: 1px solid #DCDCDC;
    }
    #p3{
        width: 182px;
        padding: 10px 10px 0px 10px ;
        font-size: 12px;
        height: 37px;
        background-color: white;
        border: 1px solid #DCDCDC;
        color: #FB6003;
    }
}
#conright-top{
        background-color: white;
        width: 944px;
        height: 55px;
        border: 1px solid #DCDCDC;
        margin-top: 15px;
        margin-left: 10px;
        float: right;
}
#conright-center{
        background-color: white;
        width: 934px;
        height: 163px;
        border: 1px solid #DCDCDC;
        margin-top: 15px;
        margin-left: 10px;
        float: right; 
        padding-left: 10px;  
}
.zh,.bp{
    height: 55px;
    width: 66px;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    float: left;
    border-right: 1px solid #DCDCDC;
    
}
.zh{
    background-color: #53aa5b;
    color: white;
}
.bp{
    &:hover{
        background-color: #53AA5B;
        color: white;
    }
}
.next{
    margin:10px;
    display: inline-block;
    float: right;
    width: 60px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    background-color: #F5F5F5;
    &:hover{
        color: #248DCC;
    }
}
.shang{
    margin: 10px;
    width: 60px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    background-color: #F5F5F5;
    display: inline-block;
    float: right;
    &:hover{
        color: #248DCC;
    }
}
.maomao,.shangp{
    
     background-color: #53aa5b;
     color: darkslategrey!important;
     }
.xianshi{
    float: left;
    width: 130px;
    height: 55px;
    border-right: 1px solid #DCDCDC;
    text-align: center;
    line-height: 55px;
    &:hover{
        background-color: #53AA5B;
        color: white;
    }
}
.zhaodao{
    float: right;
    margin-top: 19px;
    font-size: 13px;
    margin-right: 10px;
}
.chuan{
    width: 940px;
    height: 60px;
    border-bottom: 1px dashed gray;
    padding-left: 10px;
    span{
        float: left;
        font-size: 13px;
        line-height: 60px;
        margin-left: 50px;
    }
    div{
        float: left;
        width: 123px;
        height: 39px;
        border: 1px solid #DCDCDC;
        margin-top: 20px;
        text-align: center;
        line-height: 39px;
        font-size: 13px;
        &:hover{
            background-color: #FFF6EF;
            color: #248DCC;
        }
    }
    .fir{
        margin-left: 30px;
        background-color: #fff6ef;
    }
}
.first{
    margin-top: 17px;
}
#conright-bottom{
        width: 944px;
        height: 1000px;
        float: right;
        margin-top: 10px;
        .liebiaokuang{
            margin: 17px 10px 0px 0px;
            width: 223px;
            height: 375px;
            float: left;
            box-sizing:border-box; 
            background-color:white;
            display: block;
            &:hover{
                border: 1px solid #008000;
                
            }
            .datu{
                height: 192px;
                margin: 10px 0px 0px 15px ;
            }
            .xiaotu{
                width: 208px;
                height: 42px;
                margin: 10px 0px 10px 6px;
                img{
                    width: 34px;
                    height: 34px;
                    &:hover{
                        border: 1px solid #008000;
                    }
                }
            }
            .biaoti{
                font-size: 13px;
                margin-left: 10px;
            }
            .jiage{
                margin-top: 10px;
                font-size: 18px;
                margin-left: 110px;
                color: #ff6600;
            }
            .shouchu{
                margin-top: 30px;
                margin-left: 10px;
                font-size: 13px;
                color: #A6A6A6;
            }
            .hudong{
                margin-top: 30px;
                margin-left: 60px;
                font-size: 13px;
                color: #A6A6A6;
            }
        }
}

//详情
.xiang{
    padding-right: 0px!important;
    margin-left: 10px;
}
.xiangqingheader{
    height: 40px!important;
}
#fangda{
    width: 402px;
    position: absolute;
    height: 477px;
    left: -2px;
    top: 30px;
    display: inline-block;
    vertical-align: top;
    #left1{
        margin:0px 0px 0px 60px;
        width: 300px;
        height: 400px;
        position: relative;
    }
    #topcont{
        width: 300px;
        height: 300px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    #centercont{
        width: 300px;
        overflow: hidden;
        height: 34px;
      
        position: relative;
        #baoq{
            width: 210px;
            height: 34px;
            overflow: hidden;
            left: 34px;
            position: relative;
        }
        #langbox{
            position: absolute;
            display:block;
            height: 34px;
            img{
                margin-left: 7px;
                float: left;
                width: 34px;
                height: 34px;
                &:hover{
                    border: 1px solid #008000;
                }
            }
        }
         #centleft{
             text-align: center;
             line-height: 34px;
             font-size: 18px;
             display: block;
             width: 34px;
             height: 34px;
             position: absolute;
             left: 0px;
            }
        #centright{
            line-height: 34px;
            font-size: 18px;
            text-align: center;
             display: block;
             width: 34px;
             height: 34px;
             position: absolute;
              right: 0px; 
              top: 0;
              z-index: 4;          
        }
    }
    p{
        font-size: 13px;
        margin-top: 15px;
        color: #808080;
    }
    
}
#bbbb{
    @include con;
    position: relative;
    height: 1000px;
}
#youbian{
    width: 744px;
    height: 800px;
    right: 10px;
    top: 20px;
    display: inline-block;
    position: absolute;
    div{
        width: 500px;
        height: 500px;
        margin-left: 30px;
        margin-top: 30px;
        background-color: #F5F5F5;
        #say{
            float: left;
            margin: 20px;
            font-size: 25px;
            text-indent: 10px;
        }
        #price{
            float: left;
            margin: 20px;
            width: 450px;
            line-height: 80px;
            height: 80px;
            font-size: 40px;
            background-color:#A6A6A6 ;
            color: #FB6003;
        }
        span{
            float: left;
            margin: 10px;
            font-size: 15px;
        }
        .gouwuc{
            float: left;
            width: 300px;
            height: 40px;
            font-size: 20px;
            color: white;
             border-radius: 20px;
            background-color: #4ACE83;
            border: none;
            margin: 40px 0px 0px 30px;
        }
        #coun{
            width: 100px;
            height: 30px;
            float: left;
            text-align: center;
            line-height: 30px;
            background-color: white;
            margin: 40px;
            margin-left: 100px;
        }
    }
}
//#bigcont{
//  width: 450px;
//  height: 450px;
//  position: absolute;
//  left: 343px;
//  top: 0px;
//  img{
//      width: 100%;
//      height: 100%;
//  }
//}
           #glog{
               @include con;
               height: 100px;
               img{
                   float: left;
                   margin-left: 10px;
                   margin-top: 20px;
               };
               span{
                   display: inline-block;
                   margin-top: 33px;
                   font-size: 20px;
               }
              #kuang{
                  margin-top: 30px;
                  width: 287px;
                  height: 30px;
                  border: 2px solid #459D36;
                  float: right;
                  input{
                      border: none;
                  }
                  #kua{
                      width: 220px;
                      height: 30px;
                  }
                  #sou{
                      width: 60px;
                      height: 30px;
                      float: right;
                      background-color: #459D36;
                      color: white;
                  }
              }
               
           }
            #gwcul{
               
                margin-top: 20px;
                margin-left: 70px;
                overflow: hidden;
                border-bottom:2px solid #FCFCFC;
                li{
                    float: left;
                    font-size: 20px;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-bottom: 15px;
                    list-style: none;
                    border-right: 1px solid gainsboro;
                    &:hover{
                        z-index: 3;
                        border-bottom: 3px solid #FB6003;
                    }
                }
            }
            
            #qingsuan{
                margin-top: 20px;
                min-height: 300px;
                @include con;
                background-color: #FCFCFC;
                .gwc{
                     position: relative;
                     width: 100%;
                     height: 111px;
                     border-bottom: 2px solid #A6A6A6;
                     .xuankuang{
                            position: absolute;
                            left: 30px;
                            top: 40px;   
                     }
                     .ig{
                         width: 80px;
                         height: 80px;
                         border:  none;
                         position: absolute;
                         left: 70px;
                         top: 10px;
                         border: 1px solid #A6A6A6;
                     }
                     .miaosu{
                         font-size: 12px;
                         position: absolute;
                         left:200px;
                         top: 30px;
                     }
                     .jiajiankuang{
                         width: 60px;
                         height: 40px;
                         position: absolute;
                         left: 520px;
                         top: 40px;
                         background-color: white;
                         border: 1px solid #A6A6A6;
                         .jian{
                             float: left;
                             width: 15px;
                             height: 100%;
                             text-align: center;
                             line-height: 40px;
                             border-right: 1px solid #A6A6A6;
                         }
                         .shu{
                             text-align: center;
                             line-height: 40px;                            
                             width: 28px;
                             float: left;
                         }
                         .jia{
                             text-align: center;
                             line-height: 40px;                             
                             border-left: 1px solid #A6A6A6;
                             width: 15px;
                             height: 100%;
                             float: left;
                         }
                     }
                     .zongjia{
                         position: absolute;
                         right: 200px;
                         top: 40px;
                         font-size: 14px;
                         background-color: yellowgreen;
                         color: white;
                         height: 30px;
                         text-align: center;
                         line-height: 30px;
                     }
                     .delbtn{
                         width: 40px;height: 20px;
                         position: absolute;
                         right: 50px;
                         top: 40px;
                         font-size: 14px;
                     }
                     
                }
            }
            





