*{
    margin: 0;
    padding: 0;
}


#top{
    width: 1080px;
    height: 123px;
    position: relative;
    margin: 0 auto;
    img{
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    div{
        position: absolute;
        right: 20px;
        top: 60px;
        span{
            margin: 0px 5px;
        }
        a{
            text-decoration: none;
            color: gray;
            &:hover{
                color: #248dcc;
            }
        }
    }
}
#top-wrap{
    width: 100%;
}
#content{
    height: 629px;
    width: 100%;
    background: url(../img/zhuce.jpg)no-repeat -340px top;
    position: relative;
    #deng{
        position: absolute;
        right: 90px;
        top: 130px;
        background-color: white;
        width: 310px;
        height: 344px;
        padding: 30px;
        div{
            height: 70px;
            width: 370px;
            span{
                width: 155px;
                height: 70px;
                line-height: 70px;
                display: block;
                text-align: center;
                float: left;
            }

            .c2{
                border-bottom: 1px solid #33cb98;
            }
        }
        form{
            width: 303px;
            height: 287px;
            position: absolute;
            margin-top: 20px;
            P{
                margin-top: 10px;
                width: 300px;
                height: 20px;
            }
            div{
                margin-top: 5px;
                width: 300px;
                height: 40px;
                img{
                    float: left;
                }
                img:nth-of-type(3){
                    margin-top: -4px;
                }
            }
            span{
                font-size: 13px;
            }
            #ina{
                text-decoration: none;
                font-size: 13px;
                color: #696969;
                float: right;
                margin-top: 14px;
                &:hover{
                    color: #059EE0;
                }
            }
            #in1{
                width: 303px;
                height: 46px;
                border-radius: 5px;
                border: none;
                border: 1px solid grey;
            }
            #in2{
                border:none;
                border: 1px solid grey;
                width: 303px;
                height: 46px;
                border-radius: 5px;
                margin-top: 15px;
            }
            #in3{
                margin-top: 15px;
            }
            #in4{
                margin-top: 15px;
                width: 303px;
                height: 46px;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                color: white;
                text-indent: 36px;
                letter-spacing:40px;
                background-color: #4ACE83;
            }
            
            #ins{
                float: right;
                font-size: 12px;
                &:hover{
                    color: #059EE0;
                }
            }
            #ind{
                float: left;
                font-size: 12px;
                &:hover{
                    color: #059EE0;
                }
            }
        }
    }
}
#bottom{
    width: 100%;
    div{
        width: 400px;
        height: 20px;
        margin: 0 auto;
        a{
            font-size: 12px;
            line-height: 20px;
            margin: 0 5px;
            text-decoration: none;
            color: gray;
            &:hover{
                color: #248DCC;
            }
        }
    }
    p{
        width: 900px;
        font-size: 12px;
        margin: 0 auto;
    }
}




















